<p-card>
    <p-header>
        <h1 class="text-center">Welcome to Blog Site</h1>
        <h4 class="text-center">Please enter your details below to register</h4>
    </p-header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="p-field p-mb-4">
                <label for="email">Email</label>
                <input pInputText id="email" formControlName="email" type="email" class="p-inputtext p-component" />
                <div *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched"
                    class="p-error p-mt-2">
                    Please enter a valid email.
                </div>
            </div>
            <div class="p-field p-mb-4">
                <label for="password">Password</label>
                <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
                <div *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched"
                    class="p-error p-mt-2">
                    Password must be at least 8 characters long and include an uppercase letter, a lowercase letter, a
                    number, and a symbol.
                </div>
            </div>
            <div class="p-field-checkbox p-mb-4">
                <p-checkbox formControlName="isAdmin" inputId="isAdmin"></p-checkbox>
                <label for="isAdmin" class="p-ml-2">Register as Admin</label>
            </div>
            <button pButton type="submit" label="Register" [disabled]="registerForm.invalid"
                class="p-button p-button-primary p-w-full" style="margin-top: 10%;"></button>
        </div>
    </form>
    <p-footer class="text-center p-mt-4">
        <a routerLink="/login">Already have an account? Login here</a>
    </p-footer>
</p-card>