<div class="background-container">
    <div class="card">
        <app-navbar></app-navbar>
    </div>
    <div class="welcome-text-container">
        <h1>Welcome to Our Blog!</h1>
        <p>Explore a world of insights and inspiration through our latest posts. Whether you're here to stay updated on
            industry trends, discover new ideas, or just enjoy a good read, we've got something for everyone.</p>
        <p>Dive in, and enjoy the journey!</p>
    </div>
</div>
<div class="card-container p-grid p-nogutter">
    <div *ngFor="let post of posts" class="p-col-12 p-md-6 p-lg-3 p-mb-3 post-card-wrapper">
        <p-card (click)="viewPost(post.id)" class="post-card">
            <ng-template pTemplate="header">
                <img [src]="'https://localhost:7185' + post.imagePath" alt="Post Image" class="post-image">
            </ng-template>
            <ng-template pTemplate="title">
                <h2 class="post-title">{{ truncateTitle(post.title) }}</h2>
            </ng-template>
            <ng-template pTemplate="content">
                <p class="post-description" style="height: 120px !important;">{{ post.description | slice:0:100 }}...
                </p>
            </ng-template>
            <!-- test comment -->
        </p-card>
    </div>
</div>